@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
   background-color: rgb(34, 32, 32);
   
   
}

*::selection {
  background: #da2b3f;
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: rgb(235, 202, 245);
}
html::-webkit-scrollbar-thumb {
  background: #ee0606;
}


/* navbar starts */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: auto;
  background-color: #0c0c0a6c;
  box-shadow: 0 4px 10px rgba(247, 1, 26, 0.97);
  margin-bottom: 5%;
}
section {
  min-height: fit-content;
  padding: 2rem 9%;
}
.heading {
  font-size: 3.5rem;
  color: rgb(246, 246, 246);
  font-weight: 800;
  text-align: center;
}
.heading span {
  /* color: yellow; */
}
header .logo {
  font-size: 1.9rem;
  font-weight: 800;
  text-decoration: none;
  color: #ffffff;
  animation-name: example2;
  animation-duration: 3s;
  animation-iteration-count:infinite;
}
@-webkit-keyframes example2 {
  from {color:rgb(244, 9, 29);}
    to {color:rgb(65, 6, 244);}

}
header .logo i {
  font-size: 2.2rem;
}

header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar li {
  margin-left: 2.5rem;
}
header .navbar ul li a {
  font-size: 1.57rem;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}
header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: #0720ff;
  border-bottom: 0.2rem solid #011aff;
  padding: 0.5rem 0;
}
/* navbar ends */

/* hamburger icon starts*/
#menu {
  font-size: 3rem;
  cursor: pointer;
  color: rgb(24, 2, 63);
  display: none;
}
@media (max-width: 1000px) {
  #menu {
    display: block !important;
    margin-right: 100px;
  }
  #menu i{
    color: white !important;
  }
  header .navbar {
    position: fixed;
    top: 6.5rem;
    right: -120%;
    width: 75%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color: #0e0f3188;
  }
  header .navbar ul {
    flex-flow: column;
    padding: 1rem;
  }
  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 26rem;
  }
  header .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    color: #fff;
    font-size: 2rem;
  }
  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    padding: 1rem;
    color: #fff;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #011aff;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  header .navbar.nav-toggle {
    right: 0;
  }
}
/* hamburger icon ends */

/* hero section starts*/
.home2 {
  position: relative;
  background-image: url("images.jpeg");
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  background-size:cover ;
  background-repeat: no-repeat;
 background-attachment: fixed;
 
}

.home2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home2 .content {
  flex: 1 1 40rem;
  padding-top: 1rem;
  z-index: 1;
}
.home2 .image {
  flex: 1 1 40rem;
  z-index: 1;
}
.home2 .image img {
  width: 70%;
  margin-left: 6rem;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.home2 .image img:hover {
  box-shadow: 0 30px 30px rgba(2, 238, 6, 0.5);
}
.home2 .content h2 {
  font-size: 4rem;
  font-weight: 300;
  color: #ffffff;
}
.home2 .content h2 span {
  font-size: 4rem;
  font-weight: 300;
  color:rgb(6, 225, 249);
}
.home2 .content p {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight:100;
  padding: 1rem 0;
}
.home2 .content p span {
  font-size: 2.4rem;
  color: #05f105;
  font-weight: 600;
  padding: 1rem 0;
}
.home2 .btn {
  margin-top: 1rem;
  position: absolute;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  background: #2506ad;
  box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}
.home2 .btn span {
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}
.home2 .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.home2 .btn:hover {
  background: #1a047e;
  box-shadow: 0 15px 15px rgba(23, 245, 3, 0.5);
}
.home2 .btn:hover i {
  transform: translateX(5px);
}
/* social icons start */
.socials {
  position: relative;
  margin-top: 9rem;
}
.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.socials .social-icons li {
  display: flex;
  margin-bottom: 14px;flex-wrap: wrap;
  padding: 1% 0;
  text-align:center;
}
.social-icons a {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  text-align:center;
  border-radius: 10rem;
  font-size: 2rem;
  margin-right: 2rem;
  transition: 0.2s;
  background: rgb(215, 214, 219);
  color: #02094b;
  border: none;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  background: transparent;
  transform: scale(0.98);
  border: 0.1rem solid rgb(180, 178, 178);
  color: #05f14f;
}


/* social icons end */

/* hero media queries starts*/
@media (max-width: 450px) {
  .home22 .btn {
    margin: 4rem 0;
  }
  .socials {
    margin-top: 12rem;
  }
  .home22 .image img {
    margin-top: -12rem;
  }
  .home22 .content p {
    font-size: 2.2rem;
  }
  .home22 .content p span {
    font-size: 2.2rem;
  }
}
/* hero media queries ends*/
/* hero section end */

/* about section starts */
.about2 {
  background: #f304cb00;
  text-align:center; 
  font-size:20px;
  color:paleturquoise;
  background-size:cover ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image:url("aboutbg.gif");
}
.about2 .row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 4rem;
}
.about2 .row .image {
  text-align: center;
  color:paleturquoise;
  flex: 1 1 30rem;
}
.about2 .row .image img {
  margin: 5rem;
  width: 30rem;
  height: auto;
  border-radius: 5%;
  border-style: solid ;
  border-width:5px;
  border-color:  #ff0000 #0000ff;
  box-shadow: 0 50px 50px rgba(3, 48, 248, 0.6);
  transition: 5s;
  cursor: pointer;
}
.about2 .row .image img:hover {
  mix-blend-mode:plus-lighter;
  transition: 0.5s;
  transform: translate(5px);
  
}
.about2 .row .content {
  flex: 1 1 45rem;
  padding: 3rem;
}
.about2 .row .content h3 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count:infinite;
}
@-webkit-keyframes example {
  from {color:rgb(252, 31, 15);}
    to {color:rgb(65, 6, 244);}
}

.about2 .row .content .tag {
  font-size: 1.4rem;
  color: #f3f3f3;
  font-weight: 700;
  margin-top: 5rem;
}
.about2 .row .content p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-family: "times new roman";
  font-weight: 300;
  text-transform: none;
}
.about2 .row .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-family: "times new roman";
  font-weight: 300;
}
.about2 .row .content .box-container .box p {
  text-transform: none;
  color: white;
}
.about2 .row .content .box-container .box p span {
  color: #ecedf1;
}
.resumebtn {
  margin-top: 6rem;
}
.resumebtn .btn {
  padding: 1.7rem 3rem;
  border-radius: 0.5em;
  transition: 0.3s;
  color: #fff;
  background: #2506ad;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}
.resumebtn .btn span {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}
#user-detail-intro{
  color: white;
  font-size: 17px;
}
.resumebtn .btn i {
  margin-left: 0.3rem;
  font-size: 1.2rem;
  transition: 0.3s;
}
.resumebtn .btn:hover {
  background: #1a047e;
  box-shadow: 0 15px 15px rgba(23, 245, 3, 0.5);
}
.resumebtn .btn:hover i {
  transform: translateX(5px);
}
/* about media queries starts*/
@media screen and (max-width: 600px) {
  .about2 .row .image {
    margin-top: 2rem;
  }
  .about2 .row .image img {
    margin: 0 auto;
    width: 80%;
    mix-blend-mode: normal;
  }
  .about2 .row {
    padding: 0.5rem;
    margin-bottom: 7rem;
  }
  .about2 .row .content {
    padding: 1rem;
  }
  .about .row .content .box-container {
    gap: 0;
  }
}
/* about media queries ends*/
/* about section ends */

/* skills section starts */
.skills2{
  min-height: 90vh;
  background-size:cover ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image:url("aboutbg.gif");
}
.skills2 .container .code h2{
    color: #0bf26b; 
    font-size: 30px;
    margin: 1rem;
    text-align: center; 
}
.skills2 .container .i1 img{
  margin: 1rem;
  width: 15rem;
  height: 15rem;
  border-radius:45%;
  border-style: solid ;
  border-width:5px;
  border-color:  #ff0000 #0000ff;
  box-shadow: 0 50px 50px rgba(3, 48, 248, 0.6);
  transition:0.5s;
  cursor: pointer;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 0.2rem 2rem 0.2rem;
  gap: 0rem;
}
.skills2 .container .i1 img:hover {
    margin: 1rem;
    mix-blend-mode: plus-lighter;
    border-radius:45%;
    display: inline-block;
    transform: translate(4%, 4%);
    box-shadow: 0 20px 20px rgba(2, 246, 39, 0.5);
}

.qualification {
  min-height: auto;
  padding-top: 0;
  /* background: rgb(0, 1, 43); */
  background: #1fef04a5;
  background-size:cover ;
  background-repeat: no-repeat;
 background-attachment: fixed;
 color: white;
 background-color: url("aboutbg.gif");
}
.container2{
  width: 100%;
  min-height: 100vh;
  background-color:#011aff;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 0px 9%;
}

.container2{
  padding-right:calc(9% - 30px) ;
}

main.row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}


.col header.title{
 color: var(--text-color);
 padding: 0px 0px 20px 0px;
 font-size: x-large;
 align-items: center;
 text-align: center;
}
.contents2 .box:hover{
  box-shadow: 0px 4px 18px 0px rgba(239, 4, 4, 0.967) ;
  border: 1px solid transparent;
  padding: 1%;
}

.col .contents2{
  padding: 0px 30px;
  border-left: 2px solid #f205057e;
}

.col .contents2 .box{
  position: relative;
  padding: 20px;
  border: 1px solid #3106f034;
  background: var(--bg-color);
  transition: ease 0.5s;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
}

.col .contents2 .box:hover{
  box-shadow: 1px 5px 20px 1px rgb(1, 240, 25) ;
  border: 1px solid transparent;
}

.col .contents2 .box::before{
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 22px);
  top: 47px;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  background-image: url("aboutbg.gif");
}

.box h4{
  position: relative;
  color:#f105b6;
  font-size: 1.5rem;
}

.box h3{
  font-size: 1.8rem;
  padding: 10px 0px 6px;
  color:#05d4f4
}

.box p{
  line-height: 1.25;
  color: #cecfd1;
  font-size: 1.5rem;
}

.services h2{
  margin-bottom: 5rem;
}



.services-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  
}

.services-container .services-box{
flex: 1 1 30rem;
background: var(--second-bg-color);
padding: 3rem 2rem 4rem;
text-align: center; 
border-radius: 2rem;
border: .2rem solid var(--bg-color);
  transition: .5s ease;
}

.services-container .services-box:hover{
  border: .2rem solid var(--main-color);
}

.services-box i{
  font-size: 7rem;
  color: var(--main-color);
}

.services-box h3{
  font-size: 2.5rem;
  margin: 1rem 0;
}

.services-box p{
  font-size: 1.5rem;
  color: #cecfd1;
  margin: 1rem 0 3rem;
  line-height: 1.25;
}

/* skills section end */

/* project section start */


.squarebox {
  position:relative;
  width: 50%;
  max-width: 300px;
}

/* Make the image to responsive */
.squarebox .image {
  display:inline-block;
  width: 200%;
  height:200%;
  margin:5rem;
  border-style: solid ;
  border-width:5px;
  border-color:  #ff0000 #0000ff greenyellow;
  transition:0.5s;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 300%;
  transition: .5s ease;
  opacity:0;
  margin-bottom: -5rem;
  color: rgb(5, 37, 248);
  font-size: 15px;
  padding: 5px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.squarebox:hover .overlay {
  opacity: 1;
  box-shadow: 0 5px 15px rgba(1, 249, 79, 0.5);
}
/* project section end*/

/* contact section starts */
.contact2 {
  /* background: #19191aa9; */
 
    background-size:cover ;
  background-repeat: no-repeat;
 background-attachment: fixed;
  min-height: 60vh;
}
.contact2 .container {
  max-width: 1050px;
  width: 100%;
  border-radius: 1.5rem;
  margin: 2rem 5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.contact2 .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}
.contact2 .content .image-box {
  max-width: 60%;
  margin-left: 4rem;
}
.contact2 .content .image-box img {
  width: 100%;
  height: 40rem;
  position: relative;
}
.contact2 .content form {
  width: 45%;
  margin-right: 3.5rem;
}
form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-group .field {
  height: 50px;
  display: flex;
  position: relative;
  margin: 1rem;
  width: 100%;
}
form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: rgb(51, 51, 51);
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 16px 0 48px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  background: #e5ecfb;
}
.field input::placeholder,
.message textarea::placeholder {
  color: rgb(51, 51, 51);
}
.field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid rgb(115, 3, 167);
}
.field input:focus ~ i,
.message textarea:focus ~ i {
  color: rgb(115, 3, 167);
}
form .message {
  position: relative;
  margin: 1rem;
  width: 100%;
}
form .message i {
  top: 25px;
  font-size: 20px;
  left: 15px;
}
form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 12px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar {
  width: 0px;
}
form .button-area {
  display: flex;
  float: right;
  flex-direction: row-reverse;
}
.button-area button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #2506ad;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  transition: 0.3s ease;
  font-family: "Nunito", sans-serif;
}
.button-area button:hover {
  background: #421cecf5;
}
.button-area span {
  font-size: 17px;
  padding: 1rem;
  display: none;
}
.button-area button i {
  position: relative;
  top: 6px;
  left: 2px;
  font-size: 1.5rem;
  transition: 0.3s;
  color: #fff;
}
.button-area button:hover i {
  left: 8px;
}
/* contact section media queries starts */
@media (max-width: 900px) {
  .contact2 {
    min-height: 70vh;
  }
  .contact2 .container {
    margin: 3rem 0 2rem 0;
  }
  .contact2 .container .content {
    padding: 18px 12px;
  }
  .contact2 .content .image-box {
    display: none;
  }
  .contact .content form {
    width: 100%;
    margin-right: 2rem;
  }

  .form-group{
    width: 200%;

  }

}
/* contact section media queries ends */
/* contact section ends */

/* footer section starts */
.footer {
  min-height: auto;
  padding-top: 0;
  /* background: rgb(0, 1, 43); */
  background: #000000a5;
 
    background-size:cover ;
  background-repeat: no-repeat;
 background-attachment: fixed;
}
.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 2.5rem;
}
.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 1rem;
  font-weight: normal;
}
.footer .box-container .box h3 :hover {
  color:#05f14f;

}
.footer .box-container .box p {
  font-size: 1.5rem;
  color: #ccc;
  padding: 0.7rem 0;
  text-transform: none;
}
.footer .box-container .box p i {
  padding-right: 1rem;
  color: #ffae00;
}
.footer .box-container .box a {
  font-size: 1.5rem;
  color: rgb(238, 238, 238);
  padding: 0.3rem 0;
  display: block;
}
.footer .box-container .box a:hover {
  color: #f60606;
}
.footer .share {
  display: flex;
  flex-wrap: wrap;
  padding: 1% 0;
  text-align:center;
}
.footer .share a{
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  text-align:center;
  border-radius: 10rem;
  font-size: 2rem;
  margin-right: 2rem;
  transition: 0.2s;
  background: rgb(230, 230, 230);
  color: #02094b;
  border: none;
}
.footer .share a:hover {
  background: transparent;
  transform: scale(0.98);
  border: 0.1rem solid rgb(180, 178, 178);
  color: #05f14f;
}

.footer .credit {
  padding: 1rem 0 0 0;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #fff;
  border-top: 0.1rem solid #fff3;
}
.footer .credit a {
  color: #ffae00;
}
.footer .fa {
  color: #e90606;
  margin: 0 0.3rem;
  font-size: 1.5rem;
  animation: pound 0.35s infinite alternate;
}
@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@media (max-width: 450px) {
  .footer .box-container .box {
    margin: 1.5rem;
  }
  .footer .box-container .box p {
    padding: 0.7rem;
  }
  .footer .box-container .box .share a {
    padding: 1.2rem;
  }
  #contactatlast p{
    font-size: 11px !important;
  }


}
/* footer section ends */

/* common media queries starts*/
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  body {
    padding-right: 0;
  }
  section {
    padding: 2rem;
  }
}
/* common media queries ends*/

/* scroll top starts */
#scroll-top {
  position: fixed;
  top: -140%;
  right: 2rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  background: #05f72d;
  color: rgb(13, 0, 44);
  border-radius: 50%;
  transition: 1s linear;
  z-index: 1000;
}
#scroll-top.active {
  top: calc(100% - 12rem);
}
/* scroll top ends */
